.cabeçalho_menu-hamburguer{
    width: 1.5rem;
    height: 1.5rem;
    background-image: url("/img/Menu.svg");
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center;
    
    
}

.cabeçalho{
    background-color: var(--cor-de-fundo-header);
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.conteiner {
  position: relative;
  padding: 1rem;
  display: flex;
  align-items: center;
  gap: 1.5rem; /* espaçamento entre os elementos filhos */
}

.container__botao {
  position: absolute;
  opacity: 0;
  pointer-events: none;

  
}

.lista-menu {
  display: none;
  position: absolute;
  top: 3.8rem;
  left: 0;
  background-color: #FFFFFF;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  padding: 1rem;
  list-style: none;
  z-index: 100;
  width: 13rem;
  height: 15rem;
  text-transform: uppercase;
  
  
  
  
  
  

 
}
a{
    text-decoration: none;
    color: #0C3D5F;
    
}


ul li{
    text-decoration: none;
    padding: 0.6rem;
   
    
  
  
 
   
 

}


.lista-menu__titulo{
    text-transform: none;
    color: #EB9B00;
    padding: 1rem;
    font-family: var(--fonte-principal);
    font-weight: 700;
 
   
   
}


.container__botao:checked ~ .lista-menu {
  display: block;
 
  
    
}